---
# - name: Assign Hosts to Groups
#   hosts: localhost
#   gather_facts: no
#   vars_files:
#     - "{{ lookup('env', 'PWD') }}/config.yml"

- name: Initialize variables
  set_fact:
    # available_hosts: "{{ groups.pool | list }}"
    host_index: 0
    worker_id: 0

- name: Assign Global Parameter Server
  add_host:
    name: "{{ available_hosts[host_index | int] }}"
    groups: global_servers
    aggr_type: "{{ global_server.aggr_type }}"
  when: host_index | int < available_hosts | length

- set_fact:
    current_global_server: "{{ available_hosts[host_index | int] }}"
    host_index: "{{ host_index | int + 1 }}"

- name: Assign Clusters
  include_tasks: assign_cluster.yml # including seperate task file is the only way to nest loops
  loop: "{{ global_server.local_servers }}"
  loop_control:
    loop_var: local_server

- name: Indicate hosts are done being assigned
  set_fact:
    hosts_assigned: true
